
#row4{
	.div-center{
		width: 1190px;margin:0 auto;
		.goods-left{
			float:left;width:198px;
			.nav-3{
				border:1px solid #ddd;
				h3{
					height:36px;font-size: 12px;line-height: 36px;color:#333;background: #ededed;padding-left:15px;
				}
				ul{
					padding: 7px 0 10px 15px;
					li{
						a{
							font-size: 12px;line-height:26px;color:#333;
						}
						
					}
				}
			}
			.news-comment{
				border:1px solid #ddd;margin-top:10px;
				h3{
					height:36px;font-size: 12px;line-height: 36px;color:#333;background: #ededed;padding-left:15px;
				}
				ol{
					padding: 7px 10px;
					li{
						border-bottom:1px dotted #ccc;padding-bottom:7px;margin-top:10px;
						dl{
							height:80px;
							dt{
								width:60px;height: 60px;border:1px solid #ddd;float:left;
								img{width:100%;height:100%;}
							}
							dd{
								float:left;margin-left:10px;width:98px;
								h4{
									font-size: 12px;line-height:20px;color:#0051ac;
								}
								span{font-size: 12px;line-height:20px;color:#333;}
								i{font-size: 12px;line-height:20px;color:#333;}
							}
						}
						p{font-size: 12px;line-height:20px;color:#333;}
					}
				}
			}
		}
		.goods-right{
			padding-left:10px;float:left;overflow: hidden;width:980px;
			.right-list{
				border:1px solid #dcdcdc;width:978px;
				li{
					border-bottom:1px dotted #ccc;height:40px;
					h3{
						font-size: 12px;line-height: 40px;color:#333;padding-left:40px;width:138px;float:left;
					}
					p{
						float:left;
						span{font-size: 12px;line-height: 40px;color:#0054bb;padding-right:20px;}
					}
				}
			}
			.goods-lists-1{
				.h2-title{
					height:40px;background: #f1f2f1;line-height:40px;padding-left:5px;margin-bottom:5px;
					.right-btn{
						width: 55px;height: 27px;border:1px solid #ccc;font-size: 12px;line-height: 27px;color:#333;
					}
					span{
						font-size: 12px;line-height: 40px;color:#333;padding-left:20px;
						input{margin-right:3px;position: relative;top:2px;}
					}
					i{
						font-size: 12px;line-height: 40px;color:#333;float:right;padding-right:10px;
						b{font-weight: 900;}
					}
				}
				.goods-particulars-1{
					width: 202px;height: 390px;border:1px solid #fff;border-bottom:1px solid #ccc;padding:0 16px;position: relative;margin-top:10px;float:left;
					dt{
						width: 202px;height: 220px;
						img{width: 100%;height: 100%;}
					}
					dd{
						
						h4{font-size: 12px;line-height:24px;color:#333;margin:10px 0 2px;}
						.p_1{font-size: 12px;line-height:20px;color:#d03845;}
						.p_2{
							span:first-of-type{font-size: 12px;line-height:12px;color:#cc0000;font-weight:900;}
							span:nth-of-type(2){font-size: 12px;line-height:12px;color:#fff;padding:2px;background: #4ca0ff;float:right;}
						}
						
						a{font-size: 12px;color:#fff;line-height:20px;display: block;width:80px;text-align: center;background: red;}
						.p_3{font-size: 12px;line-height:30px;color:#0051ac;display:block;position: absolute;bottom:0;}
					}
				} 
			}
		}
	}
}